
*.o
autoconf.mk
.depend
*.bin
include/config.h
nboot/boot0.lds
*.axf
*.map
plat.mk
include/commit_info.h
.module.mk
.module.common.mk
*.elf
*.lds
drivers/dram/sun8iw18p1/libchipid
drivers/dram/sun50iw10p1/libchipid
drivers/dram/sun50iw11p1/libchipid
*.patch
*.swp
libdram
